.workspace__result-window {
  position: relative;
  overflow: clip;

  --item-z-index: 2;
  transition: border-radius 0.5s;
}

.workspace__result-selector {
  position: absolute;
  border: 2px solid rgb(252, 136, 156);
  background: rgba(252, 136, 156, 0.3);
  display: none;
  box-sizing: border-box;
  z-index: 3;
}

.workspace__stage-item {
  position: absolute;
  cursor: pointer;
  background-size: 100% 100%;
}

.workspace__stage-item__inner {
  position: static;
  transform-origin: 0 0 0;
}

.workspace__stage-item__inner--absolute {
  position: absolute;
}

.workspace__stage-item__selection {
  position: absolute;
  transform-origin: 0 0 0;
  z-index: 1;
}

.workspace__stage-item__selection--auto {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.workspace__result-origin {
  background: rgba(255, 0, 255, 0.7);
}

.workspace__stage-item--selected {
  outline: 2px dashed black;
}

.workspace__stage-picture {
  display: block;
  max-width: unset;
  user-select: none;
  z-index: var(--item-z-index);
}

.workspace__stage-text {
  margin: 0;
  line-height: 1;
  z-index: var(--item-z-index);
  background: none;
  border: none;
  outline: none;
  user-select: none;
  caret-color: currentColor;
}

.workspace__stage-text:empty {
  min-width: 5ch;
}

.workspace__stage-figure {
  z-index: var(--item-z-index);
  user-select: none;
}

.workspace__stage-figure--rect {
}
.workspace__stage-figure--circle {
  border-radius: 50%;
}

.workspace__stage-item__anchor {
  --anchor-size: 10px;
  --anchor-margin: calc(-1 * var(--anchor-size) / 2);

  position: absolute;
  width: var(--anchor-size);
  height: var(--anchor-size);
  border-radius: 50%;
  background-color: cornflowerblue;
}

.workspace__stage-item__anchor--r {
  right: 0;
  top: 50%;
  margin-right: var(--anchor-margin);
  margin-top: var(--anchor-margin);
  cursor: e-resize;
}

.workspace__stage-item__anchor--b {
  left: 50%;
  bottom: 0;
  margin-bottom: var(--anchor-margin);
  margin-left: var(--anchor-margin);
  cursor: s-resize;
}

.workspace__stage-item__anchor--rb {
  right: 0;
  bottom: 0;
  margin-right: var(--anchor-margin);
  margin-bottom: var(--anchor-margin);
  cursor: se-resize;
}

.workspace__stage-item__anchor--t {
  right: 50%;
  top: 0;
  margin-right: var(--anchor-margin);
  margin-top: var(--anchor-margin);
  cursor: n-resize;
}

.workspace__stage-item__anchor-rotate {
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: -30px;
  margin-top: var(--anchor-margin);
  color: cornflowerblue;
  cursor: grab;
  user-select: none;
}

.workspace__stage-item__anchor-rotate::before {
  display: block;
  content: "";
  box-sizing: border-box;
  width: 25px;
  height: 10px;
  background-clip: content-box;
  background-color: cornflowerblue;
  padding: 4px 0;
  margin-left: -20px;
  pointer-events: none;
}

.cursor-se-resize {
  cursor: se-resize !important;
}
.cursor-s-resize {
  cursor: s-resize !important;
}
.cursor-e-resize {
  cursor: e-resize !important;
}
