.canvas {
  --item-z-index: 1;
  --anchors-z-index: 2;
  --selector-z-index: 3;

  position: relative;
  overflow: clip;
  @apply shadow-xl;

  transition: border-radius 500ms;
}

.areaSelector {
  position: absolute;
  border: 2px solid hsl(350 100% 75%);
  background: rgba(252 136 156 / 0.3);
  display: none;
  box-sizing: border-box;
  z-index: var(--selector-z-index);
}
