.workspace__result-window {
  position: relative;
  overflow: clip;

  --item-z-index: 5;
  --selector-z-index: 10;
  --anchors-z-index: 7;

  transition: border-radius 0.5s;
}

.workspace__result-selector {
  position: absolute;
  border: 2px solid hsl(350, 100%, 75%);
  background: rgba(252 136 156 / 0.3);
  display: none;
  box-sizing: border-box;
  z-index: var(--selector-z-index);
}

.workspace__stage-item {
  position: absolute;
  cursor: pointer;
  background-size: 100% 100%;
}

.workspace__stage-item__selection {
  position: absolute;
  pointer-events: none;
  transform-origin: 0 0 0;
  z-index: 1;
  outline: 1px dashed black;
}

.workspace__stage-item__selection-label {
  display: inline-block;
  position: absolute;
  font-size: 1rem;
  font-weight: bolder;
  scale: 1 1;
  user-select: none;
  pointer-events: none;
}

.workspace__stage-picture {
  display: block;
  max-width: unset;
  user-select: none;
  z-index: var(--item-z-index);
}

.workspace__stage-text {
  margin: 0;
  line-height: 1;
  z-index: var(--item-z-index);
  white-space: pre-wrap;
  line-break: anywhere;
  resize: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  user-select: none;
  caret-color: currentColor;
}

.workspace__stage-text:disabled {
  pointer-events: none;
}

.workspace__stage-text:empty {
  min-width: 5ch;
}

.workspace__stage-figure {
  z-index: var(--item-z-index);
  user-select: none;
}

.workspace__stage-figure--rect {
  border: 2px solid black;
}
.workspace__stage-figure--circle {
  border-radius: 50%;
}

.workspace__stage-item__anchor {
  --anchor-size: 10px;
  --anchor-margin: calc(-1 * var(--anchor-size) / 2);

  position: absolute;
  width: var(--anchor-size);
  height: var(--anchor-size);
  z-index: var(--anchors-z-index);
  pointer-events: all;
  border-radius: 50%;
  background-color: cornflowerblue;
}

.workspace__stage-item__anchor--top-left {
  left: 0;
  top: 0;
  margin-left: var(--anchor-margin);
  margin-top: var(--anchor-margin);
  cursor: nw-resize;
}

.workspace__stage-item__anchor--top {
  right: 50%;
  top: 0;
  margin-right: var(--anchor-margin);
  margin-top: var(--anchor-margin);
  cursor: n-resize;
}

.workspace__stage-item__anchor--top-right {
  right: 0;
  top: 0;
  margin-right: var(--anchor-margin);
  margin-top: var(--anchor-margin);
  cursor: ne-resize;
}

.workspace__stage-item__anchor--right {
  right: 0;
  top: 50%;
  margin-right: var(--anchor-margin);
  margin-top: var(--anchor-margin);
  cursor: e-resize;
}

.workspace__stage-item__anchor--bottom-right {
  right: 0;
  bottom: 0;
  margin-right: var(--anchor-margin);
  margin-bottom: var(--anchor-margin);
  cursor: se-resize;
}

.workspace__stage-item__anchor--bottom {
  left: 50%;
  bottom: 0;
  margin-bottom: var(--anchor-margin);
  margin-left: var(--anchor-margin);
  cursor: s-resize;
}

.workspace__stage-item__anchor--bottom-left {
  left: 0;
  bottom: 0;
  margin-bottom: var(--anchor-margin);
  margin-left: var(--anchor-margin);
  cursor: sw-resize;
}

.workspace__stage-item__anchor--left {
  left: 0;
  top: 50%;
  margin-left: var(--anchor-margin);
  margin-top: var(--anchor-margin);
  cursor: w-resize;
}

.workspace__stage-item__anchor-rotate {
  position: absolute;
  right: 0;
  top: 50%;
  margin-right: -30px;
  margin-top: var(--anchor-margin);
  color: cornflowerblue;
  cursor: crosshair;
  user-select: none;
}

.workspace__stage-item__anchor-rotate::before {
  display: block;
  content: "";
  box-sizing: border-box;
  width: 25px;
  height: 10px;
  background-clip: content-box;
  background-color: cornflowerblue;
  padding: 4px 0;
  margin-left: -20px;
  pointer-events: none;
}
