header p {
  background: rgb(255, 105, 180);
  background: linear-gradient(
    60deg,
    rgb(255, 105, 180) 0%,
    rgb(252 136 255) 65%
  );
  background-clip: text;

  color: transparent;
  letter-spacing: 0.25rem;
}
