:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: pink;
  background-color: #ffff98;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body, #root {
  padding: 1rem;
  margin: 0;
}

#root {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  border: 4px solid transparent;
  border-radius: 8px;
  font-size: 1.1rem;

  background: hsl(8, 100%, 61%);
  padding: .8rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

button:hover {
  border: 4px solid aqua;
}
